<% layout('boilerplate') %>

<h1 class="text-center">Local Providers</h1>
<div class="row">
<% for (let business of allBusiness) { %>

    <div class="col-2 mb-3">
    <div class="card border my-3 shadow-sm" style="width: 18rem; height:280px">
        <div class="card-body">
            <h5 class="card-title"><%= business.name  %></h5>
            <p class="card-text"><%= business.city  %></p>
            <a href="mailto:<%=business.email  %>" class="btn btn-success mb-3">Email Provider</a>
            <% if (business.website) { %>
            <a href="<%=business.website  %>" class="btn btn-success mb-3">Website: <%= business.name  %></a>
            <% } %>
        </div>
        </div>
    </div>
    <% } %>
</div>